<h1>Welcome to our Online Store</h1>
<p> We sell all sorts of musical instruments and accessories, view our products by clicking Product Catalogue at the
    top of the page and create an account by clicking register.</p>